[submodule "frontendv1"]
	path = frontendv1
	url = https://github.com/nbqduong/esim-frontend.git
[submodule "cpp-web"]
	path = cpp-web
	url = git@github.com:nbqduong/cpp-web.git
	branch = communicate-with-web
